.post {
    font-size: 20px;
    flex-basis: 33%;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    background-color: rgba(49, 49, 49, 0.9);
    border-radius: 10px;
}

.blueText {
    color: #ffffff;
    margin: 1rem;
}

.mintText {
    color: rgb(145,243,186);
}

.center {
    text-align: center;
}

.create__button {
    display: block;
    text-align: center;
    margin: 1rem auto 0.5rem auto;
    padding: 0.7rem 0.7rem;
    font-size: larger;
    border-radius: 30px;
    background-color: rgb(145,243,186);
    color: black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.centerLabel{
    justify-content: center;
}

.description {
    flex-basis: 25%;
}

.objectTitle{
    font-size: 32px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.scaleWidth{
    width: 40%;
    margin: auto;
    height: 70%;
}