.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.post {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid purple;
    background-color: rgba(49, 49, 49, 0.9);
}

.blueText {
    color: #006eff;
}

.goldenRodText {
    color: #ffffff;
}

.center {
    text-align: center;
}

.create__button {
    display: block;
    text-align: center;
    margin: 1rem auto 0.5rem auto;
    padding: 0.3rem 0.3rem;
    font-size: larger;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.centerLabel{
    justify-content: center;
}